## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

city_data_df.head()

,City_ID,City,Lat,Lng,Feels Like,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Lagoa,39.0500,-27.9833,62.53,63.00,63.00,75,66,11.48,PT,broken clouds,2021-12-06 02:25:35
1,1,Yarada,17.6500,83.2667,78.66,77.32,77.32,83,75,5.75,IN,mist,2021-12-06 02:25:36
2,2,Marienburg,54.0359,19.0266,23.86,29.89,33.46,88,100,10.38,PL,overcast clouds,2021-12-06 02:25:36
3,3,Havelock,34.8791,-76.9013,54.00,50.05,57.15,89,50,1.25,US,scattered clouds,2021-12-06 02:25:36
4,4,Provideniya,64.3833,-173.3000,15.48,26.37,26.71,86,75,13.42,RU,snow,2021-12-06 02:25:37

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?  "))
max_temp = float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp)
                                       & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Feels Like,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
1,1,Yarada,17.6500,83.2667,78.66,77.32,77.32,83,75,5.75,IN,mist,2021-12-06 02:25:36
6,6,Carnarvon,-24.8667,113.6333,83.32,80.67,80.67,65,0,17.27,AU,clear sky,2021-12-06 02:25:37
7,7,Rikitea,-23.1203,-134.9692,77.67,76.89,76.89,72,100,6.22,PF,overcast clouds,2021-12-06 02:25:38
11,11,Butaritari,3.0707,172.7902,87.01,81.25,81.25,80,97,12.59,KI,light rain,2021-12-06 02:25:39
18,18,Avarua,-21.2078,-159.7750,86.18,80.65,80.65,83,75,5.75,CK,broken clouds,2021-12-06 02:25:41
23,23,Dingle,10.9995,122.6711,85.28,81.27,81.27,71,68,13.04,PH,broken clouds,2021-12-06 02:25:43
26,26,Vaini,-21.2000,-175.2000,98.76,86.16,86.16,79,75,10.36,TO,broken clouds,2021-12-06 02:25:40
40,40,Kapaa,22.0752,-159.3190,74.73,71.47,78.78,76,90,3.00,US,heavy intensity rain,2021-12-06 02:25:49
44,44,Bathsheba,13.2167,-59.5167,85.73,81.21,81.21,74,40,23.02,BB,scattered clouds,2021-12-06 02:25:50
49,49,Quatre Cocos,-20.2078,57.7625,75.63,75.09,77.11,71,7,13.02,MU,clear sky,2021-12-06 02:26:52

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Feels Like             0
Min Temp               0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
pref_cities_dropna_df = preferred_cities_df.dropna()
pref_cities_dropna_df.count()

City_ID                531
City                   531
Lat                    531
Lng                    531
Feels Like             531
Min Temp               531
Max Temp               531
Humidity               531
Cloudiness             531
Wind Speed             531
Country                531
Current Description    531
Date                   531
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_dropna_df[["City", "Country",
                                  "Max Temp", "Current Description",
                                  "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yarada,IN,77.32,mist,17.6500,83.2667,
6,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,
7,Rikitea,PF,76.89,overcast clouds,-23.1203,-134.9692,
11,Butaritari,KI,81.25,light rain,3.0707,172.7902,
18,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,
23,Dingle,PH,81.27,broken clouds,10.9995,122.6711,
26,Vaini,TO,86.16,broken clouds,-21.2000,-175.2000,
40,Kapaa,US,78.78,heavy intensity rain,22.0752,-159.3190,
44,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
49,Quatre Cocos,MU,77.11,clear sky,-20.2078,57.7625,

In [8]:
#Save the DF
hotel_df.to_csv('empty_hotel_column.csv', index_label='City_ID')

### Reduce the DF for testing

In [9]:
#Reduce the DF for testing
# hotel_df = hotel_df.head(10)
# hotel_df.count()

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 40000,
    "types": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    #6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')
        continue

Hotel not found...skipping.
Hotel not found...skipping.

In [11]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yarada,IN,77.32,mist,17.6500,83.2667,Novotel Visakhapatnam Varun Beach
6,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,Rikitea,PF,76.89,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Butaritari,KI,81.25,light rain,3.0707,172.7902,Isles Sunset Lodge
18,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Little Polynesian Resort
...,...,...,...,...,...,...,...
2535,Paredon,MX,78.94,clear sky,16.0333,-93.8667,Hotel Central Parq
2536,Finschhafen,PG,85.80,overcast clouds,-6.6024,147.8681,Cossam Guest House
2537,Catia La Mar,VE,79.00,scattered clouds,10.6038,-67.0303,The Hotel
2553,Pakala,IN,77.41,clear sky,13.4667,79.1167,Fortune Select Grand Ridge
2556,Eydhafushi,MV,82.76,few clouds,5.1033,73.0708,Royal Island Resort & Spa in Maldives

In [13]:
# 8a. Create the output File (CSV)
new_column_order = ['City', 'Country',
                    'Max Temp', 'Current Description',
                    'Lat', 'Lng',
                    'Hotel Name']

hotel_data_df = hotel_df[new_column_order]
hotel_data_df.head(10)

#vacation_data_df = clean_hotel_df

# 8b. Export the City_Data into a csv
hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code,
# the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = clean_hotel_df[["Lat", "Lng"]]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))